.contenedor {
  height: 500px;
  background-color: blue;
  display: flex;
  align-items: flex-start;

  /* una línea en relación al eje de las Y */

  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: stretch; */
  /* align-items: baseline; */
}

.item {
  background-color: #ccc;
  margin: 10px;
  font-size: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center; /* eje x*/
  align-items: center; /* eje Y*/
}
