@charset "utf-8";
/* CSS Document */

body {
  color: #000;
  background: #e69215;
}

header {
  padding: 30px;
  background-color: #5f795f;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  background: #cc3910;

  list-style-type: none;
}

a {
  color: #f1f2c0;
  padding: 15px 25px;
  text-decoration: none;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background: #8fa68e;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

section {
  flex: 30%;
  background: #f1f2c0;
}
aside {
  flex: 70%;
  background: #ccc59e;
  float: right;
}

footer {
  padding: 15px;
  text-align: center;
  background-color: coral;
}

@media screen and (max-width: 800px) {
  nav ul,
  #contenedor {
    flex-direction: column;
  }
}
