div{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

/* pseudoclase se define con : */
div:hover {
  background-color: #F89B4D; /* cambia de color al pasar con el mouse */
}

/* :first-child y :last-child */
/* :nth-child()  */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:first-child */

span{
  background-color: yellow;
  border:1px solid black;
  padding: 10px;
}


span::after{
 content: 'despues';
 background-color: red;
}

span::before{
 content: 'antes';
 background-color: blue;
}