* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sanas", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  padding: 20px 20px 20px 20px;
  background: rgb(247, 243, 245);
  background: linear-gradient(
    90deg,
    rgba(247, 243, 245, 1) 0%,
    rgba(241, 152, 158, 1) 10%,
    rgba(166, 16, 11, 1) 100%
  );
  color: #f5f6f7;
}

.holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.holder img {
  display: block;
  margin: auto;
  width: 150px;
}

.nombre-empresa {
  font-size: 45px;
}

.slogan {
  justify-content: right;
}

footer {
  background-color: #ccc;
  padding: 30px 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
